.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 16px;
  width: 95%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.container-logo {
  background-color: #343434;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;  
  width: 100%;
}

.flag {
  display: flex;
  width: 100%;
  height: 15px; 
  margin: 0 0 50px 0;  
}

.flag div {
  flex: 1;
}

/* Verde */
.flag div:nth-child(1) {
  background-color: #009246;
}

/* Branco */
.flag div:nth-child(2) {
  background-color: #ffffff;
}

/* Vermelho */
.flag div:nth-child(3) {
  background-color: #ce2b37;
}

.container-logo img {
  margin: auto;
}

.container-painel {
  width: auto;
  padding: 20px;
}

.container-painel input {
  width: 250px;
  height: 50px;
  text-align: center;
}

.container-painel button {
  width: 100px;
  height: 50px;
  text-align: center;
}

.btn-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-topo:hover {
  background: #333;
}

@media (max-width: 768px) {

  .container-painel {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .container-painel input {
  width: 90%;
  height: 50px;
  text-align: center;
}

.container-painel button {
  width: 90%;
  height: 50px;
  margin: 10px 0 0 0;
  text-align: center;
}

}

